<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267787458859-c5p21i3i66s7lsuvl9f47nm95ac6a44q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267787458859-c5p21i3i66s7lsuvl9f47nm95ac6a44q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>267787458859-1app8ufe383mb6gpb8oh1l0hc2256636.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCHYGaKRt_yBP_onrm8z6yMsFWBg4yboM0</string>
	<key>GCM_SENDER_ID</key>
	<string>267787458859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialMedia</string>
	<key>PROJECT_ID</key>
	<string>social-app-325a7</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-325a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267787458859:ios:ce5d3b6bcc86111c6bcd6e</string>
</dict>
</plist>